body{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.container{
    
}

.titulo{
    
}

.sub-titulo{
    
}

.texto{
}

.destaque{
    color: blue;
}

#box2{
    
}